# Platform
PLATFORM=default

# Configuration Docker
BACKEND_PORT=default
MYSQL_PORT=default
PHPMYADMIN_PORT=default

# Configuration MySQL
DB_DATABASE=default
DB_USERNAME=default
DB_PASSWORD=default
DB_ROOT_PASSWORD=default

# Backup Configuration
BACKUP_KEEP_DAYS=default
BACKUP_FREQUENCY=default